{
    "semi": false,
    "singleQuote": true,
    "useTabs": false,
    "trailingComma": "es5",
    "printWidth": 120,
    "tabWidth": 4,
    "plugins": [
        "@trivago/prettier-plugin-sort-imports",
        "prettier-plugin-tailwindcss"
    ],
    "tailwindStylesheet": "./resources/css/app.css",
    "importOrder": [
        "^vue(.*)$",
        "^primevue(.*)$",
        "^@iconify/(.*)$",
        "^@/app/(.*)$",
        "^@/layouts/(.*)$",
        "^@/types/(.*)$",
        "^@/entities/(.*)$",
        "^@/composables/(.*)$",
        "^@/components/(.*)$",
        "^./(.*)$"
    ],
    "importOrderSeparation": false,
    "importOrderSortSpecifiers": true,
    "importOrderCaseInsensitive": true
}
